body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
  }
  
  #image {
    max-width: 60%; /* Adjust the percentage as needed */
    align-self: flex-start;
  }
  
  section {
    display: flex;
    justify-content: space-between;
    width: 60%; /* Adjust the width of the button section */
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #left {
    border-radius: 8px 0 0 8px;
  }
  
  #right {
    border-radius: 0 8px 8px 0;
  }
  